<h1>Post#show</h1>
<p>Find me in app/views/post/show.html.erb</p>

<h3> Akshay  </h3>
<p> <b> Kunal </b></p>
<p>A. P. J. Abdul Kalam
From Wikipedia, the free encyclopedia
This article is about the former President of India. For the Indian freedom fighter, see Abul Kalam Azad.
In this Indian name, the name Avul Pakir Jainulabdeen is a patronymic, not a family name, and the person should be referred to by the given name, Abdul Kalam.
A. P. J. Abdul Kalam
ஆ. ப. ஜெ. அப்துல் கலாம்
A. P. J. Abdul Kalam in 2008.jpg
11th President of India
In office
25 July 2002 – 25 July 2007
Prime Minister 	Atal Bihari Vajpayee
Manmohan Singh
Vice President 	Krishan Kant
Bhairon Singh Shekhawat
Preceded by 	K. R. Narayanan
Succeeded by 	Pratibha Patil
Personal details
Born 	Avul Pakir Jainulabdeen Abdul Kalam
15 October 1931
Rameswaram, Ramnad District, Madras Presidency, British India
(now in Ramanathapuram District, Tamil Nadu, India
Died 	27 July 2015 (aged 83)
Shillong, Meghalaya, India
Cause of death 	Cardiac arrest (Stroke)
Nationality 	Indian
Alma mater 	St. Joseph's College, Tiruchirappalli
Madras Institute of Technology
Profession 	Professor
Author
Aerospace scientist
Religion 	Islam
Awards 	Bharat Ratna 1997
Padma Vibhushan 1990
Padma Bhushan 1981
Signature 	
Website 	abdulkalam.com

Avul Pakir Jainulabdeen Abdul Kalam better known as A.P.J. Abdul Kalam Listeni/ˈæbdʊl kəˈlɑːm/; (15 October 1931 – 27 July 2015) was the 11th President of India from 2002 to 2007. A career scientist turned statesman, Kalam was born and raised in Rameswaram, Tamil Nadu, and studied physics and aerospace engineering. He spent</p>
